
.button {
  @apply font-bold py-2 px-4 rounded;

  &.primary {
    @apply bg-blue-500 text-white;

    &:active {
      @apply bg-blue-700;
    }
  }

  &.secondary {
  }
}

.backdrop {
  @apply z-40 absolute top-0 left-0 fixed bg-black;

  opacity: .85;
  width: 100vw;
  height: 100vh;
}

.modal {
  @apply p-8 text-white z-50 fixed top-0;
}

