@import "tailwindcss/base";
@import 'components.css';

h1 {
  @apply text-3xl my-5;
}

.App {
  @apply p-8; 

  @media (max-width: 640px) {
    padding: 1rem;
  }
}

.child {
  @apply flex flex-col items-center text-gray-600 mr-5 mb-5 cursor-pointer;
}

.children__container {
  @apply flex justify-around flex-wrap;

  & img {
    border-radius: 50%;
    height: auto;
  }
}

.sign-in {
  .sign-in__hours {
    @apply flex mb-3;
  }

  .sign-in__hours,
  .sign-in__quarters {
    @apply flex mb-3;
  }

  & .sign-in__time-block {
    @apply p-8 mr-5 bg-gray-400 border text-gray-900 cursor-pointer;

    &.selected {
      @apply bg-blue-400 border text-gray-900;
    }
  }
}
