@import "tailwindcss/base";
@import 'components.css';

h1 {
  @apply text-3xl my-5;
}

.App {
  @apply p-8; 

  @media (max-width: 640px) {
    padding: 1rem;
  }
}

.child {
  @apply flex flex-col items-center text-gray-500 mr-5 mb-5 cursor-pointer;

  &.checked-in {
    /* border: 1px solid green; */
  }
}

.children__container {
  @apply flex flex-wrap;

   & img {
    border-radius: 50%;
    height: auto;
    border: 3px solid #e3e3e3;
    opacity: .75;
    padding: 1px;
  }

  & .checked-in {
    p {
      @apply text-green-600;

      font-weight: 800;

      &::after {
        content: ' ✔';
      }
    }

    img {
      border: 5px solid rgba(56,161,105,var(--text-opacity));
      opacity: 1;
    }
  }

  @media (max-width: 1400px) {
   @apply justify-between ;
 }

}



.sign-in {
  @apply w-full;

  .sign-in__hours {
    @apply flex mb-3 flex-wrap;
  }

  .sign-in__quarters {
    @apply flex mb-3 flex-wrap;
  }

  & .sign-in__time-block {
    @apply p-8 my-5 mr-5 bg-gray-400 border text-gray-900 cursor-pointer;

    &.selected {
      @apply bg-blue-400 border text-gray-900;
    }
  }
}
