@import "tailwindcss/base";
@import 'components.css';

h1 {
  @apply text-3xl my-5;
}

.App {
  @apply p-8; 

  @media (max-width: 640px) {
    padding: 1rem;
  }
}

header {
  @apply flex items-center ;

  & input {
    @apply ml-16 border border-gray-300 rounded-lg h-10 py-2 px-4; 
  }
}


.child {
  @apply flex flex-col items-center text-gray-600 mr-5 mb-5 cursor-pointer;
}

.children__container {
  @apply flex flex-wrap pb-40;

   & img.avatar {
    border-radius: 50%;
    height: auto;
    border: 3px solid #e3e3e3;
    opacity: .75;
    padding: 1px;
  }

  & .checked-in {
    p {
      @apply text-green-600;

      font-weight: 800;
    }

    img.avatar {
      border: 3px solid rgba(56,161,105,var(--text-opacity));
      opacity: 1;
    }

    img.checkmark {
      width: 20px;
    }
  }

  @media (max-width: 1400px) {
   @apply justify-evenly;
 }
}

.sign-in {
  @apply w-full;

  .sign-in__hours {
    @apply flex mb-3 flex-wrap;
  }

  .sign-in__quarters {
    @apply flex mb-3 flex-wrap;
  }

  & .sign-in__time-block {
    @apply p-8 my-5 mr-5 bg-gray-400 border text-gray-900 cursor-pointer;

    &.selected {
      @apply bg-blue-400 border text-gray-900;
    }
  }
}

.sign-out {
  @apply flex flex-col items-center justify-between;

  & h1 {
    @apply m-0;
  }

  .sign-out__child {
    @apply flex flex-col items-center;

    & img {
      border-radius: 50%;
      height: auto;
      max-width: 100px;
    }
  }
}

