.App {
  padding: 2rem;
}

.child {
  @apply flex flex-col items-center text-gray-600 mr-5 mb-5;
}

.children__container {
  @apply flex;

  flex-wrap: wrap;

  & img {
    border-radius: 50%;
    height: auto;
  }
}


.children__container img {
  /* width: 200px; */
}
