@import "tailwindcss/base";
@import 'components.css';

.App {
  @apply p-8; 
}

.child {
  @apply flex flex-col items-center text-gray-600 mr-5 mb-5;
}

.children__container {
  @apply flex;

  flex-wrap: wrap;

  & img {
    border-radius: 50%;
    height: auto;
  }
}

h1 {
  @apply text-3xl;
}


